<div id="main">

<%= show_flash %>
<%= error_messages @session %>

<% form_for @session do |f| %>
<ul>

<li class="input">
<%= f.label :login %>
<%= f.text_field :login %>
</li>

<li class="input">
<%= f.label :password %>
<%= f.password_field :password %>
</li>

<li class="button">
<%= f.submit "Sign in" %>
</li>

</ul>
<% end %>

</div>
