<%= show_flash %>
<%= error_messages @submission %>
<% form_for @submission do |f| %>
<ul>
<li class="input">
<%= f.label :name %>
<%= f.text_field :name %>
</li>
<li class="input">
<%= f.label :email %>
<%= f.text_field :email %>
</li>
<li class="input">
<%= f.label :phone %>
<%= f.text_field :phone %>
<span class="hint">(optional)</span>
</li>
<li class="input">
<%= f.label :url, "URL" %>
<%= f.text_field :url %>
<span class="hint">(optional)</span>
</li>
<li class="input">
<%= f.label :description %>
<%= f.text_area :description %>
<span class="hint">Tell us about your project, why it's awesome, what makes you think you can pull it off, and how you would use the money. If you've done awesome stuff in the past, that wouldn't hurt either. Oh, and be pithy. (<span id="submission_description_counter">2500 characters remaining</span>)</span>
</li>
<li class="input">
<%= f.label :chapter_id, "Chapter" %>
<%= f.select :chapter_id, options_from_collection_for_select(@chapters, :id, :name, @submission.chapter_id), { :include_blank => "- No preference -" } %>
<span class="hint">Want to apply to a specific chapter? Note that preference is often given to local submissions.</span> 
</li>
<li class="button">
<%= f.submit "Apply" %>
</li>
</ul>
<% end %>

<% content_for :footer do %>
<%= javascript_include_tag "jquery.charcounter" %>
<script>
$(document).ready(function() {
  $("#submission_description").charCounter(2500, {
  	container: "#submission_description_counter",
  	format: "%1 characters remaining",
  	pulse: false,
  	delay: 100
	})  
})
</script>
<% end %>